body {
  display: grid;
  place-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  color: darkblue;
}

.done {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: 10px;
  cursor: pointer;
}